
body {
    background-color: #f5f5f5; 
    font-family: "Helvetica Neue", Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
    font-family: "Comic Sans MS", cursive, sans-serif; 
}

ul {
    list-style-type: square;
    text-align: left;
    font-family: "Comic Sans MS", cursive, sans-serif; 
}

h3 {
    color: red;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#current, #guesses {
    font-size: 18px;
    margin-top: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif; 
}

#result {
    font-size: 16px;
    margin-top: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif; 
}

button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-family: "Comic Sans MS", cursive, sans-serif; 
}

#commit {
    background-color: #ffd699; 
    color: white;
    border: none;
}

#resetButton {
    background-color: #c5e1a5; 
    color: white;
    border: none;
}

#b1, #b5, #b10, #b25 {
    background-color: #add8e6; 
    color: white;
    border: none;
}

#a1, #a5, #a10, #a25 {
    background-color:#ff6666; 
    color: white;
    border: none;
}

